<a href="https://colab.research.google.com/github/laxmi-priya/Natural_language_processing/blob/main/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
corpus = [
    "Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes" 
    ]
v = TfidfVectorizer()
transformed_output = v.fit_transform(corpus)
print(v.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [10]:
corpus[:2]

['Thor eating pizza, Loki is eating pizza, Ironman ate pizza already',
 'Apple is announcing new iphone tomorrow']

In [3]:
v.get_feature_names_out()

array(['already', 'am', 'amazon', 'and', 'announcing', 'apple', 'are',
       'ate', 'biryani', 'dot', 'eating', 'eco', 'google', 'grapes',
       'iphone', 'ironman', 'is', 'loki', 'microsoft', 'model', 'new',
       'pixel', 'pizza', 'surface', 'tesla', 'thor', 'tomorrow', 'you'],
      dtype=object)

In [4]:
all_feature_names = v.get_feature_names_out()
for word in all_feature_names:
  indx = v.vocabulary_.get(word)
    
    #get the score
  idf_score = v.idf_[indx]
    
  print(f"{word} : {idf_score}")

already : 2.386294361119891
am : 2.386294361119891
amazon : 2.386294361119891
and : 2.386294361119891
announcing : 1.2876820724517808
apple : 2.386294361119891
are : 2.386294361119891
ate : 2.386294361119891
biryani : 2.386294361119891
dot : 2.386294361119891
eating : 1.9808292530117262
eco : 2.386294361119891
google : 2.386294361119891
grapes : 2.386294361119891
iphone : 2.386294361119891
ironman : 2.386294361119891
is : 1.1335313926245225
loki : 2.386294361119891
microsoft : 2.386294361119891
model : 2.386294361119891
new : 1.2876820724517808
pixel : 2.386294361119891
pizza : 2.386294361119891
surface : 2.386294361119891
tesla : 2.386294361119891
thor : 2.386294361119891
tomorrow : 1.2876820724517808
you : 2.386294361119891

In [11]:
transformed_output.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

# Ecommerce data is classified using TF-IDF
1.3 different classifiers are used
i.Naive Bayes classifier
ii.KNN classifier
iii.SVM classifier
2.preprecessed text are being used for classification

In [21]:
import pandas as pd
df = pd.read_csv("https://github.com/codebasics/nlp-tutorials/raw/main/12_tf_idf/Ecommerce_data.csv")
df.head()

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [23]:
df.label.value_counts()

Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: label, dtype: int64

In [24]:
target ={'Household':0,'Electronics':1,'Clothing & Accessories':2,'Books':3}

df['label_num']=df['label'].map({
   'Household':0,
   'Electronics':1,
   'Clothing & Accessories':2,
   'Books':3 
})
df.head()

,Text,label,label_num
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,1
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,2
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,2

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(
    df.Text,
    df.label_num,
    test_size=0.2,
    random_state=2022,
    stratify=df.label_num)

In [29]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

# Create a model using TF-IDF

Naive Bayes classifier for multinomial models

In [31]:
clf = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('Multi NB', MultinomialNB())                   #Naive Bayes classifier
])
clf.fit(X_train,Y_train)
Y_pred = clf.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.93      0.96      0.95      1200
           1       0.96      0.96      0.96      1200
           2       0.97      0.98      0.98      1200
           3       0.98      0.93      0.95      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

Classifier implementing the k-nearest neighbors vote

In [33]:
from sklearn.neighbors import KNeighborsClassifier
clf_knn = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('KNN', KNeighborsClassifier())                 #knn classifier
])
clf_knn.fit(X_train,Y_train)
Y_pred = clf_knn.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.95      0.96      0.95      1200
           1       0.96      0.97      0.97      1200
           2       0.97      0.98      0.98      1200
           3       0.98      0.95      0.96      1200

    accuracy                           0.97      4800
   macro avg       0.97      0.97      0.97      4800
weighted avg       0.97      0.97      0.97      4800

svm classifier

In [34]:
from sklearn import svm
clf_svm = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('svm', svm.SVC())                 #svm classifier
])
clf_svm.fit(X_train,Y_train)
Y_pred = clf_svm.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.97      0.98      0.98      1200
           1       0.98      0.98      0.98      1200
           2       0.99      0.99      0.99      1200
           3       0.98      0.97      0.98      1200

    accuracy                           0.98      4800
   macro avg       0.98      0.98      0.98      4800
weighted avg       0.98      0.98      0.98      4800

# Using pre-process model

In [35]:
import spacy
nlp = spacy.load("en_core_web_sm") 
def preprocess(text):#preprocess removes the stop word and punct and apply lemmatization
  doc = nlp(text)
  filtered_text = []
  for token in doc:
    if token.is_stop or token.is_punct:
      continue
    filtered_text.append(token.lemma_)
  return" ".join(filtered_text)

In [36]:
df['preprocessed_txt'] = df['Text'].apply(preprocess) #Adding the pre-processed data to the dataframe

In [37]:
X_train,X_test,Y_train,Y_test=train_test_split(
    df.preprocessed_txt,
    df.label_num,
    test_size=0.2,
    random_state=2022,
    stratify=df.label_num)

Naive Bayes classifier for multinomial models

In [38]:
clf = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('Multi NB', MultinomialNB())                   #Naive Bayes classifier
])
clf.fit(X_train,Y_train)
Y_pred = clf.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.93      0.96      0.95      1200
           1       0.96      0.97      0.96      1200
           2       0.97      0.99      0.98      1200
           3       0.98      0.93      0.95      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

Classifier implementing the k-nearest neighbors vote

In [39]:
clf_knn = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('KNN', KNeighborsClassifier())                 #knn classifier
])
clf_knn.fit(X_train,Y_train)
Y_pred = clf_knn.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95      1200
           1       0.96      0.96      0.96      1200
           2       0.97      0.98      0.98      1200
           3       0.98      0.94      0.96      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

svm classifier

In [40]:
clf_svm = Pipeline([
    ('vectorizer_tfidf', TfidfVectorizer()),        #TF-IDF
    ('svm', svm.SVC())                              #svm classifier
])
clf_svm.fit(X_train,Y_train)
Y_pred = clf_svm.predict(X_test)
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      1200
           1       0.98      0.98      0.98      1200
           2       0.99      0.99      0.99      1200
           3       0.98      0.98      0.98      1200

    accuracy                           0.98      4800
   macro avg       0.98      0.98      0.98      4800
weighted avg       0.98      0.98      0.98      4800